<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
</head>
<body>
    

{{#navLink "/"}}Home{{/navLink}}
                    {{#navLink "/CPA"}}CPA students{{/navLink}}

                    {{#navLink "/allstudents"}}All Students{{/navLink}}
                    {{#navLink "/addStudent"}}Add a new student{{/navLink}}
                
                
                    {{#navLink "/highGPA"}}Highest GPA{{/navLink}}
                   


    <hr>
        {{{body}}}
    <hr>

<h3> Student Honor Pledge</h3>

    <p>I acknowledge the College's academic integrity policy - and my own integrity - remain in effect whether my work is
        done remotely or onsite. Any test or assignment in an act of trust between me and my instructor, and especially width
        my classmates...even when no one is watching. I declare I will not break that trust.
    </p>


    <div>Name: <div style="background-color: yellow;">Shakhrier Talibzhanov</div></div>


    <div>Student Number: <div style="background-color: yellow;"> 107585218 </div></div>


</body>
</html>